<section class="dashboard-container">
    <div class="dashboard-header">
        <h2><span>Dashboard</span> | Hello, {{ user }}!</h2>
        <p class="secondary-text">{{ now | date: "HH:mm, dd MMMM yyyy" }}</p>
    </div>
    <div class="dashboard-content">
        <div class="bills-container">
            <div class="cards-header">
                <h2>My bills</h2>
            </div>
            <div class="bills">
                <span class="material-symbols-outlined add" (click)="openAddBillDialog()">add</span>
                <owl-carousel-o *ngIf="bills" [options]="customOptions" class="carousel">
                      <ng-template carouselSlide *ngFor="let bill of bills; let i = index">
                        <app-bill [bill]="bill" (dblclick)="makeActive(bill)" (editButtonClicked)="openEditBillDialog(bill)"></app-bill>
                      </ng-template>
                </owl-carousel-o>
            </div>
        </div>
        <div class="balance-container">
            <div class="balance-header">
                <h2>Balance</h2>
            </div>
            <div class="balance-info">
                <app-balance-info *ngIf="activeBill" [bill]="activeBill"></app-balance-info>
            </div>
        </div>
    </div>
</section>