@import "../../../scss/btns";
@import "../../../scss/config";

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .delete {
        color: $light-red;
        font-size: 30px;
        &:hover {
            cursor: pointer;
        }
    }
}

.modal-container {
    height: 100%;
    width: 100%;
}

.bill-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}