@import "../../../scss/forms";

.picker {
    width: 30px;
    height: 100%;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.border {
    display: flex;
    align-items: center;
    position: relative;

    .part {

        .picker {
            position: absolute;
            top: 0;
            right: 0;
        }

        ::ng-deep mat-select {
            width: 100%;
            border: none;
            position: relative;
        }
    }
}