@import "../../../scss/forms";

.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(34, 60, 80, 0.2);
    border-radius: 0.4rem;
}

.form-control .form-input {
    position: relative;
}

.form-control .form-label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    top: 0;
    width: 100%;
}

.picker {
    width: 30px;
    height: 100%;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.customization-btn-container {
    width: 100%;
    display: flex;
    cursor: pointer;
}

.customization-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(34, 60, 80, 0.2);
    cursor: pointer;
}

.customization-btn:hover {
    color: $text-color-blue;
}