@import "../../scss/config";

.statistics-container {
    width: 100%;
    height: 50vh;
    padding: 2rem;
    display: grid;
    grid-template-columns: 70% auto;

    .latest-transactions {
        padding-left: 2rem;
        height: 100%;
        width: 100%;
        border-left: 2px solid darken($primary-background-color, 20%);
    }
}